<div  class="row">
  <div class="col-sm-12 col-md-12">

  <h1><%= @interviewee.name %>
    <%= link_to "Edit", edit_interviewee_path(@interviewee), class: "btn btn-info btn-sm" %>
  </h1>

  <% @interviewee.lines.each do |line| %>

    <%= form_for [@interviewee, line], html: { class: "form-inline" } do |f| %>
    <div class="form-group form-sequence">
      <%= f.label "#" %>
      <%= f.number_field :sequence, autofocus: false, class: "form-control input-sm" %>
    </div>
    <div class="form-group form-content">
      <%= f.label :content %>
      <%= f.text_area :content, autofocus: true, class: "form-control input-sm" %>
    </div>
    <div class="form-group">
        <%= f.collection_select :line_type, ["normal","question"], :to_s, :to_s, include_blank: false, class: "select-box" %>
    </div>

    <%= f.submit "Edit", class: "btn btn-info btn-sm"  %>
    <%= link_to "Delete", interviewee_line_path(@interviewee, line), method: "delete", data: { confirm: "정말 삭제하시겠습니까?" }, class: "btn btn-danger btn-sm"  %>

    <% end %>

    <% if line.is_question? %>
    --
      <% line.choices.each do |choice| %>

        <%= form_for [@interviewee, line, choice], html: { class: "form-inline" } do |f| %>
          <div class="form-group form-sequence">
            <%= f.label "#" %>
            <%= f.number_field :sequence, autofocus: false, class: "form-control input-sm" %>
          </div>
          <div class="form-group">
            <%= f.label :content %>
            <%= f.text_field :content, autofocus: true,  class: "form-control input-sm" %>
          </div>
          <div class="form-group form-response">
            <%= f.label :response %>
            <%= f.text_area :response, autofocus: true,  class: "form-control input-sm" %>
          </div>
          <div class="form-group">
            <div class="checkbox" >
              <%= f.check_box :correct %>
              <%= f.label :correct, style: "padding-left: 20px;" %>
            </div>
          </div>


          <%= f.submit "Edit", class: "btn btn-info btn-sm"  %>
          <%= link_to "Delete", interviewee_line_choice_path(@interviewee, line, choice), method: "delete", data: { confirm: "정말 삭제하시겠습니까?" }, class: "btn btn-danger btn-sm"  %>

        <% end %>
      <% end %>

      <%= link_to "Add Choice", interviewee_line_choices_path(@interviewee, line), method: "POST", class: "btn btn-success btn-sm" %>


    <% end %>

  <% end %>
  <%= link_to "Add Line", interviewee_lines_path(@interviewee), method: "POST", class: "btn btn-primary btn-sm" %>
  </div>
</div>