<h1><%= @interviewee.name %></h1>

<table>
  <tr>
    <th>순서</th>
    <th>내용</th>
    <th>종류</th>
  </tr>

  <% @interviewee.lines.each do |line| %>
  <tr>
    <%= form_for [@interviewee, line] do |f| %>
    <td>
      <%= f.text_field :sequence, autofocus: false%>
    </td>
    <td>
      <%= f.text_field :content, autofocus: true%>
    </td>
    <td>
      <%= f.collection_select :line_type, ["normal","question"], :to_s, :to_s, include_blank: false %>
    </td>

    <td>
      <%= f.submit "Edit", class: " "  %>
    
      <%= link_to "Delete", interviewee_line_path(@interviewee, line), method: "delete", data: { confirm: "정말 삭제하시겠습니까?" }  %>
    </td>

    <% end %>
  </tr>
  <% if line.is_question? %>
    <% line.choices.each do |choice| %>
      <%= form_for [@interviewee, line, choice] do |f| %>
  <tr>
    <td colspan="4">
      --
      <%= f.number_field :sequence, autofocus: false %>
      <%= f.text_field :content, autofocus: true %>
      <%= f.text_field :response, autofocus: true %>
      <%= f.check_box :correct %>
      <%= f.submit "Edit", class: " "  %>
      <%= link_to "Delete", interviewee_line_choice_path(@interviewee, line, choice), method: "delete", data: { confirm: "정말 삭제하시겠습니까?" }  %>
    </td>

  </tr>
      <% end %>
    <% end %>
  <tr>
    <td>
      --
      <%= link_to "Add Choice", interviewee_line_choices_path(@interviewee, line), method: "POST" %>
    </td>
  </tr>
  <% end %>


  <% end %>

</table>


<%= link_to "Add Line", interviewee_lines_path(@interviewee), method: "POST" %>