<div class="modal fade " id="modal-ending" aria-hidden="false" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
        <h4 class="modal-title nanum-font" style="font-weight:600;">대화가 끝났습니다.</h4>
      </div>
      <div class="modal-body nanum-font" style="padding-bottom:40px;">

        <h4 class="nanum-font" style="margin: 0 0 10px 0;">"<%= @tag.name %>" </h4>

        <% @tag.scenes.each do |scene| %>
        <div class="col-sm-6 col-xs-12">
          <blockquote class="prsimy-blockquote">
            <%= scene.lines.first.content %>
            <footer><%= scene.interviewee.name %></footer>



          </blockquote>
          <% if(scene.lines.first.is_question?) %>
          <div style="font-size: 12px; font-style: italic; font-color: gray; margin: 10px 0 10px 15px;">
            <span>
             "<%= scene.lines.first.user_answers.where(user: current_user).last.choice.content %>" 라고 답하셨습니다.
            </span>
          </div>
          <% end %>



        </div>
        <% end %>
        <p>
          대화를 잘 나누셨나요? 처음 선택하셨던 답변과 다른 생각이 드시나요? 아니면 생각이 변하지 않으셨나요? 유익한 대화를 나누셨다고 생각이 되시면 친구와 지인들에게 <strong class="font-general">공유</strong>해보세요~!
        </p>
        <p>
          그리고 다른 이야기를 하고싶으시다면 <strong class="font-danger">"다른 대화 하기"</strong>를! 혹은 직접 물어보고 싶은게 있다면, <strong class="font-success">"직접 물어보기"</strong>를 눌러서 진행해주세요!
        </p>
        <div class="row">
          <div class=" col-xs-12">

            <div class="pull-right">
              <button type="button" class="btn btn-general btn-sm" data-dismiss="modal" style="float: none; padding: 6px 17px 7px;">공유하기</button>
            </div>

            <div class="pull-left">
              <%= link_to "직접 물어보기", asking_path(), class: "btn btn-success btn-sm", style: "float: none; padding: 6px 17px 7px;" %>
            </div>

            <div class="clearfix text-center">
              <%= link_to "다른 대화 하기", start_path(), class: "btn btn-danger btn-sm", style: "float: none; padding: 6px 17px 7px;" %>

            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>