<div id="dialogue-container" class="row">
  <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
    <div id="scene_sequence" data-scene-sequence="0" ></div>
    <div id="tag_info"  data-tag-id="<%= @tag.id %>"></div>
    <div id="scene_info"  data-scene-id="<%= @first_scene.id %>"></div>
    <div id="line_info" data-last-sequence="<%= @first_scene_lines.first.sequence %>" type="<%= @first_scene_lines.first.line_type %>"></div>

    <div class="row" id="dialogue-info">
      <div class="col-xs-4 col-md-4">
        <%= image_tag image_path('prismy_progress2.png'), :class => "progress_img" %>
      </div>
      <div class="col-xs-4 col-md-4 nanum-font" style="text-align: center; padding-right: 10px; margin-bottom:15px; margin-top:-3px">
        2 대화하기
      </div>
      <div class="col-xs-4 col-md-4 nanum-font" style="text-align: right; font-size:10px; margin-bottom:15px; ">
        <%= @tag.name %>
      </div>
    </div>


    <div class="row" id= "interviewee_info">



<!-- 원래 태그 있던 곳 -->
      <div class="col-md-10 col-md-offset-1 col-xs-12 main-row">

        <div class="row">
          <div class="col-md-2 col-xs-3 text-center"><%= image_tag image_path("interviewee_icon/#{@first_scene_interviewee.profile_image}"), :class => "icon_img", :id=> "interviewee_img" %>
            <div class="text-center interviewee_name" id="interviewee_name">
            <%=@first_scene.interviewee.name %>
            </div>
          </div>
          <div class="col-md-10 col-xs-9">
            <!--<div class="divider present-divider" style="margin-top:12px; margin-bottom:15px;">
            </div>-->
            <span class="nanum-font dialogue-font flow-text" id="response_paragraph" style="text-align: right; padding-top:100px;"><%= auto_html( @first_scene_lines.first.content ) {
           sized_image(:width =>480)
          youtube(:width => 480, :height => 320, :autoplay => false)
          link :target => "_blank", :rel => "nofollow"
          simple_format
          }  %></span>
          </div>
        </div>

      </div>
    </div>

  </div>
<!--</div>-->



  <div class="row" id="userActions-container">
  <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 main-row">

    <!--준희오빠 태그<span id="user_choice" style="margin-bottom:30px; font-size:18px;">당신의 선택</span>-->


    <!--<span style="margin-bottom:60px; font-size:18px;" id="user_choice">
            <%= image_tag image_path('prismy_list.png'), :class => "list_img" %>당신의 선택
    </span>-->

    <br>
    <div class="row" style="margin-top:25px;">
      <div class="col-md-12" id="user_answer_div">
        <%
          if(@first_choices.size == 0)
        %>
            <button type="button" class="btn btn-primary btn-lg-rect btn-rect btn-block user-answer-btn" data-sequence="0" id="btn1" style="visibility:hidden;">선택지 1</button>
            <button type="button" class="btn btn-primary btn-lg-rect btn-rect btn-block user-answer-btn" data-sequence="1" id="btn2">다음</button>
            <button type="button" class="btn btn-primary btn-lg-rect btn-rect btn-block user-answer-btn" data-sequence="2" id="btn3" style="visibility:hidden;">선택지 2</button>
        <%
          # Needs form for user answer
          elsif (@first_choices.size == 1 && @first_choices[0].content == "")
        %>
            <div id="div_for_user_answer" class="col-md-6">
              <textarea class="form-control" rows="3" id="answer_from_user"></textarea>
              <button type="button" class="btn btn-primary btn-lg-rect btn-rect btn-block user-answer-btn answer-from-user" data-sequence="1" id="btn1">대답하기</button>
            </div>
        <%
          elsif @first_choices.size == 1 || @first_choices.size == 2
            counter = 1
            @first_choices.each do |choice|
        %>
              <button type="button" class="btn btn-primary btn-lg-rect btn-rect btn-block user-answer-btn" data-sequence="<%=counter %>" id="btn<%=counter %>"><%=choice.content %> </button>
        <%
              counter = counter + 1
            end #end of each loop

            while counter <= 3
              %>
              <button type="button" class="btn btn-primary btn-lg-rect btn-rect btn-block user-answer-btn" data-sequence="<%=counter %>" id="btn<%=counter %>" style="visibility:hidden;">선택지</button>
              <%
              counter = counter + 1
            end

          else
            counter = 1
            @first_choices.each do |choice|
        %>
              <button type="button" class="btn btn-primary btn-lg-rect btn-rect btn-block user-answer-btn" data-sequence="<%=counter %>" id="btn<%=counter %>"><%=choice.content %> </button>
        <%
              counter = counter + 1
            end #end of each loop
          end # end of if-else statement
        %>
      </div>
    </div>
  </div>
</div>
</div>


<div id="modal-ending-wrapper">
</div>