<%= render partial: "./admin_nav" %>
<h1>Subjects</h1>
<div class="table-responsive">
  <table class="table table-bordered table--wide table-present">
    <thead>
      <tr>
        <th>이름</th>
        <th>연결된 태그</th>
        <th>관리</th>
      </tr>
    </thead>
    <% @subjects.each do |subject| %>
    <tr>
      <td><%= subject.name %></td>
      <td><%= subject.tags.map{ |s| "\"#{s.name}\"" }.join(", ") %></td>

      <td>
      <%= link_to "edit", edit_subject_path(subject), class: "btn btn-info btn-sm" %>
        <%= link_to "delete", subject_path(subject), method: "delete", data: { confirm: "정말 삭제하시겠습니까?" }, class: "btn btn-danger btn-sm" %>
    </tr>
    <% end %>

  </table>
</div>

<%= link_to "new", new_subject_path(), class: "btn btn-general btn-sm" %>