<!DOCTYPE html>
<html>
<head>

  <!-- Mobile Specific Metas-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="telephone=no" name="format-detection">

  <title>Prismy</title>

  <!-- Open Sans -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,600,700italic,400,700,800italic" rel="stylesheet" type="text/css">
  <!-- VarelaRound -->
  <link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" type="text/css">
  <!-- Icon Font - Font Awesome -->
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">



  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper" id="top">

    <header class="header header--block header--light">
      <div class="header-fixed">
        <div class="header-line waypoint" data-animate-down="header-up" data-animate-up="header-down">
          <div class="container">
                <!--  Logo  -->
            <a class="logo" href="index.html">
                <!-- Remove comments to choose image and add comment to h1 -->
                <!--<img src="images/logo-full-light.png" alt="">-->
              <svg class="logo__svg" width="32" height="32" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                <g>
                  <path class="logo__svg-path" d="m18.8,14c-1.2,-0.2 -2.3,0.1 -3.2,0.6c-0.8,0.5 -1.8,0.2 -2.4,-0.7c-0.4,-0.8 -0.2,-1.8 0.7,-2.3c1.4,-0.7 3,-1.2 4.7,-1.1c-0.2,-0.1 -0.4,-0.2 -0.6,-0.4c-0.8,-0.7 -1.8,-1.3 -3,-1.4c-2.6,-0.3 -5.1,1.5 -5.4,4s1.6,4.9 4.2,5.2c1.2,0.1 2.3,-0.1 3.2,-0.6c0.8,-0.5 1.8,-0.2 2.4,0.7c0.4,0.8 0.2,1.8 -0.7,2.3c-1.3,0.7 -3,1.2 -4.7,1.1c0.2,0.1 0.4,0.2 0.6,0.4c0.8,0.7 1.8,1.3 3,1.4c2.6,0.3 5.1,-1.5 5.4,-4c0.4,-2.4 -1.5,-4.8 -4.2,-5.2zm-2.8,-14c-8.8,0 -16,7.2 -16,16s7.2,16 16,16c8.8,0 16,-7.2 16,-16s-7.2,-16 -16,-16zm10.5,19.7c-0.6,4.5 -4.8,7.5 -9.4,7c-2,-0.3 -3.7,-1.2 -4.9,-2.4c-0.7,-0.7 -0.7,-1.8 0,-2.4c0.3,-0.3 0.7,-0.4 1,-0.5c-4.4,-0.6 -7.6,-4.7 -7.1,-9c0.6,-4.5 4.8,-7.5 9.3,-7c2,0.2 3.7,1.2 5,2.4c0.7,0.7 0.7,1.8 0,2.4c-0.3,0.3 -0.7,0.4 -1,0.5c4.5,0.6 7.7,4.6 7.1,9z" fill="#ffffff">
                </g>
              </svg>

              <h1 class="logo__text">Allec</h1>
            </a>
            <!-- End Logo -->
          </div>  <!-- end container -->
        </div>

        <div class="fixed-top header-down">
          <div class="container">


            <!-- Navigation section -->
            <nav class="z-nav">
                <!-- Toggle for menu mobile view -->
                <a href="#" class="z-nav__toggle">
                    <span class="menu-icon"></span>
                    <span class="menu-text">navigation</span>
                    <div class="menu-head"></div>
                </a>

                <ul class="z-nav__list">
                  <li class="z-nav__item">
                    <!-- Subsidiary menu toogle button -->
                      <span class="z-nav__toggle-sub plus"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
                    <%= link_to "Have some talks", root_path(), class: "z-nav__link" %>


                    <!-- Subsidiary menu list-->
                    <!-- end subsidiary menu list-->
                  </li>
                  <li class="z-nav__item">
                    <!-- Subsidiary menu toogle button -->
                      <span class="z-nav__toggle-sub plus"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
                    <%= link_to "What is it?", about_path(), class: "z-nav__link" %>



                    <!-- Subsidiary menu list-->
                    <!-- end subsidiary menu list-->
                  </li>
                </ul>
                <!-- end list menu item -->
            </nav>
            <!-- end navigation section -->
          </div> <!-- end container -->

        <!-- Colored divider -->
          <div class="divider-color">
          </div>

        </div> <!-- end fixed top block -->

      </div>

    </header>

    <!-- end section show current page and breadcrumb -->



  <% flash.each do |type, message| %>
    <div class="alert <%= flash_class(type) %> alert-dismissable fade in">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>

    <section>
      <div class="container">
        <%= yield %>
      </div>
    </section>



    <!-- Colored divider -->
    <div class="divider-color bottom-space--smaller"></div>

    <!-- Footer section -->
    <footer class="footer footer--cut">
      <div class="container">
        <h3 class="heading-info heading-info--mobile">Contact info:</h3>
        <!-- Contact information about company -->
        <address class="contact-info contact-info--primary">

          <a class="contact-info__item" href="mailto:=data.journalism.study@gmail.comEmail from website">
            <i class="fa fa-envelope"></i>
            data.journalism.study@gmail.com
          </a>

        </address>
        <!-- end contact information -->


        <div class="copy">
            &copy; <a href="index.html">Allec, 2015.</a> All rights reserved. Done by <a href="http://themeforest.net/user/olechka" target="_blank">Congruity Hub</a>
        </div>
      </div>
    </footer>
    <!-- end footer section -->



    <div class="top-scroll"><i class="fa fa-angle-up"></i></div>
  </div>





  <script src="/custom.js"></script>
</body>
</html>
