<!DOCTYPE html>
<html>
<head>


  <!-- Mobile Specific Metas-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="telephone=no" name="format-detection">

  <meta property="fb:app_id" content="<%= ENV["FACEBOOK_APP_ID"] %>"/>
  <meta property="og:image" content="#{request.protocol}#{request.host_with_port}#{asset_path('prismy_logo_f.png')}" />
  <meta property="og:title" content="우리 주변의 평범한 성소수자들의 이야기" />
  <meta property="og:description" content="“성소수자” XX 씨의 이야기를 듣는 것이 아니라
우리 주변의 한 사람, 한 명의 친구, 한 명의 가족과 대화를 하는 그런 기분을 여러분이 느낄 수 있었으면 합니다." />

  <title>Prismy</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <!-- Open Sans -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,600,700italic,400,700,800italic" rel="stylesheet" type="text/css">
  <!-- VarelaRound -->
  <link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" type="text/css">
  <!-- Icon Font - Font Awesome -->
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="/custom.css" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= raw generate_og_tags %>



</head>
<body>
  <script>
  window.fbAsyncInit = function() {
      FB.init({
        appId      : '<%= ENV["FACEBOOK_APP_ID"] %>',
        xfbml      : true,
        version    : 'v2.5'
      });
    };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  </script>
  <div class="wrapper" id="top">

    <header class="header header--thin header--light">
      <div class="header-fixed">
      <div class="header-line waypoint" data-animate-down="header-up" data-animate-up="header-down">

      <div class="fixed-top header-down">
      <div class="container text-center">

        <%= link_to start_path(), class: "logo " do %>
            <%= image_tag image_path('prismy_logo_f.png'), class: "logo", id:"prismy_main_logo" %>
        <% end %>
        <!-- End Logo -->
      </div> <!-- end container -->

      </div> <!-- end fixed top block -->

      </div>

  </header>
    <!-- end header section -->

    <!-- end section show current page and breadcrumb -->



  <% flash.each do |type, message| %>
  <div class="alert  alert-<%= flash_class(type) %> alert-visible ">
  <div class="box-inner">
    <span class="alert-market">
      <i class="fa <%=flash_icon(type)%>"></i>
    </span>
    <strong><%= type %></strong>
    <%= raw(message) %>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
      <i class="fa fa-times"></i>
    </button>
  </div>
  </div>



  <% end %>

    <section>
      <div id="page-container" class="container">
        <%= yield %>
      </div>
    </section>



  </div>




    <script>
      $(document).ready(function() {
        isotopeFilters();
      });

            $(document).ready(function() {
             preloader();
             });
    </script>

  <script src="/custom.js"></script>
</div>
</body>
</html>
